// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #283593;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
$pcolor-1: #ffffff;
$pcolor-1-invert: findColorInvert($pcolor-1);
$pcolor-2: #039be5;
$pcolor-2-invert: findColorInvert($pcolor-2);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "dark": ($dark, $dark-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($danger, $danger-invert),
  "twitter": ($twitter, $twitter-invert),
  "pcolor-1": ($pcolor-1, $pcolor-1-invert),
  "pcolor-2": ($pcolor-2, $pcolor-2-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
